body{
  background-image:url();
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment:fixed;
}
<<<<<<< HEAD
=======
#menu ,#Korábbi_sorsolások, #Leggyakoribb_számok , #Leghasonlóbb_számok , #Leghoszabb_sorozatok_számsorban , #Legkisebb_összegű_számsorok , #Grafikonok , #Érdekes_történetek{
  background-color:rgba(145, 144, 140, 20%); 
}
#menu{
  text-align
  text-decoration
  text-shadow
  text-decoration-style

}
asdsadsadsadsadsa
>>>>>>> 4e4d4608d7251e582032d7372d9d3009725edc4e
