#alma{
  background-color:black;
}
menu {
  display: block;
  list-style-type: disc;
  margin-block-start:25px;
  margin-block-end: 25px;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  padding-inline-start: 40px;
}