a:link, a:visited{
  color: rgb(163, 157, 157);
  text-decoration:none;
}
#menu{
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: auto;
  z-index: 999;
  transition: all 0.3s;
  background-color: rgb(54, 50, 50);
  border-style: ridge;
  color: white;
  font-size: 25px;
}
body{
  margin-left: 28%;
}
#szoveg{
  font-size: 2.5em;
}
p{
  font-size: 3em;
}
h2{
  font-size: 5em;
}
a:hover{
  background-color: rgb(119, 128, 117);
}
