a:link, a:visited{
    color: rgb(163, 157, 157);
    text-decoration:none;
  }
  #menu{
    width: 300px;
    position: fixed;
    top: 10;
    left: 10;
    bottom: 10;
    height: auto;
    z-index: 999;
    transition: all 0.3s;
    background-color: rgb(54, 50, 50);
    border-style: ridge;
    color: white;
    font-size: 25px;
  }
  body{
    margin-left: 28%;
  }
  #szoveg{
    font-size: 1em;
  }
  p{
    font-size: 1em;
  }
  h2{
    font-size: 1em;
  }
  a:hover{
    background-color: rgb(119, 128, 117);
  }
  